# Firebase Configuration
FIREBASE_API_KEY=AIzaSyCYQWb8dEno__POur0UABfi0F9JR4i_XQw
FIREBASE_AUTH_DOMAIN=dive-travel-9dcf7.firebaseapp.com
FIREBASE_PROJECT_ID=dive-travel-9dcf7
FIREBASE_STORAGE_BUCKET=dive-travel-9dcf7.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=996020953462
FIREBASE_APP_ID=1:996020953462:web:81c9bf7db384321c335a57
FIREBASE_MEASUREMENT_ID=G-W724QN8LBY

# Cloudflare R2 Configuration
R2_BUCKET_NAME=3d-mart-assets
R2_ACCESS_KEY_ID=8a77c17ed19db776abb4ca6e0af7d59e
R2_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY_HERE
R2_ENDPOINT=https://b689aebfde9481216c0e085f3ac7de7a.r2.cloudflarestorage.com